.form {
  margin-right: auto;
  margin-left: auto;
  border: 2px solid #ff6e40;
  border-radius: 15px;
  width: 480px;
  padding: 50px;
}

.form__item {
  display: block;
  margin-bottom: 10px;
}

.form__input {
  margin-left: 5px;
}
